@{
    ViewData["Title"] = "Archery shop";
}
<main>
    <section class="hero">
        <h2>Welcome to the webshop!</h2>
        <p>Here you can find a wide variety of products to choose from</p>
    </section>
    <div class="featured-products-header">
        <h3>Featured Products</h3>
    </div>
    <section class="featured-products">
        <div class="product">
            <h4>Traditional Bow</h4>
            <a href="@Url.Action("Index", "Product", new { id = 1 })">
                <img src="images/TradBowImage.jpeg" alt="Product 1">
            </a>
            <div class="product-info">
                <p>Price: $400.00</p>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <h4>Traditional Quiver</h4>
            <a href="@Url.Action("Index", "Product", new { id = 2 })">
                <img src="images/TradQuiverImage.webp" alt="Product 2">
            </a>
            <div class="product-info">
                <p>Price: $30.00</p>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        <div class="product">
            <h4>Traditional Arrows x3</h4>
            <a href="@Url.Action("Index", "Product", new { id = 3 })">
                <img src="images/TradArrowImage.png" alt="Product 3">
            </a>
            <div class="product-info">
                <p>Price: $15.00</p>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </section>
</main>