@model List<WebshopClassLibrary.WishlistItem>

@{
    ViewData["Title"] = "Wishlist";
}

<main>
    <h1>Wishlist</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wishlistItem in Model)
            {
                <tr>
                    <td>@wishlistItem.ProductName</td>
                    <td>@wishlistItem.Price.ToString("C")</td>
                    <td>
                        <div class="wishlist-buttons">
                            <form method="post" action="/Cart/AddToCart">
                                <input type="hidden" name="productId" value="@wishlistItem.ProductID" />
                                <button class="btn btn-primary">Add to Cart</button>
                            </form>
                            <form asp-action="RemoveFromWishlist" method="post">
                                <input type="hidden" name="productId" value="@wishlistItem.ProductID" />
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="wishlist-actions">
        <form asp-action="ClearWishlist" method="post">
            <button type="submit" class="btn btn-danger">Clear Wishlist</button>
        </form>
    </div>
</main>
